@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h2>Gravity Project</h2>
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-globe"> </span>
                    Gravity projects aims to automate manually handled centralization tasks as much as possible.
                </div>
            </div>
        </div>
    </div>
    
</div>
