@{
    ViewData["Title"] = "Settings";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <span class="glyphicon glyphicon-wrench"> </span> Settings
            </div>
            <div class="panel-body">
                If you are authorized you can administrate your belongings...
            </div>
        </div>
    </div>
</div>
